<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Главная страница блога</title>

    <!-- Ядро Bootstrap CSS-->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Пользовательские стили для этого шаблона -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
</head>

<body>

    {% include 'partials/_navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'partials/_footer.html' %}
    <!-- Ядро Bootstrap JavaScript -->

    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
